.navbar {
    background-color: transparent !important;
    box-shadow: none !important;
    background-image: none !important
}

.topBarMenu {
    /* display: flex; */
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.topBarMenu button {
    text-transform: capitalize !important;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
}