.contactBox {
    border: 2px solid var(--primary);
    width: fit-content;
    padding: 0px 25px;
    margin-top: 25px;
}

.contactForm p {
    color: var(--lightGrey);
    font-family: Inter;
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;

}

.secondItem1 {
    margin-top: 70px;
}

.secondItem2 {
    margin-top: 43px;
}

.contactBox h1 {
    font-family: Kumbh Sans;
    font-size: 56px;
    font-weight: 400;
    line-height: 69px;
    letter-spacing: 0em;
    text-align: left;
}

.contactBox h2 {
    font-family: Kumbh Sans;
    font-size: 56px;
    font-weight: 400;
    line-height: 69px;
    letter-spacing: 0em;
    text-align: left;
}


@media screen and (max-width: 600px) {
    .contactBox h1 {
        font-family: Kumbh Sans;
        font-size: 40px;
        font-weight: 400;
        line-height: 50px;
        letter-spacing: 0em;
        text-align: left;
    }

    .contactForm p {
        font-family: Inter;
        font-size: 13px;
        font-weight: 400;
        line-height: 15px;
        letter-spacing: 0em;
        text-align: left;
    }

    .contactBox h2 {
        font-family: Kumbh Sans;
        font-size: 35px;
        font-weight: 400;
        line-height: 43px;
        letter-spacing: 0em;
        text-align: left;

    }


    .contactForm{
        margin-top: 30px;
    }
}